@mixin buttonblue {
  text-decoration: none;
  border-radius: 50px;
  background-color: $blue;
  color: white;
  font-family: $font;
  text-transform: uppercase;
  width: 150px;
  padding: 10px 55px 10px 55px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
}

@mixin buttonwhite {
  text-decoration: none;
  border-radius: 50px;
  background-color: white;
  color: $blue;
  font-family: $font;
  text-transform: uppercase;
  width: 150px;
  margin: 10px 0px 10px 0px;
  padding: 10px 55px 10px 55px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  cursor: pointer;
}

@mixin titlemainblue {
  text-transform: uppercase;
  font-size: 2em;
  color: $blue;
  margin: 20px 15px 15px;
  font-weight: 300;
  font-family: $font;
}

@mixin titlesecondblue {
  text-transform: uppercase;
  font-size: 1.5em;
  color: $blue;
  margin: 20px 15px 15px;
  font-weight: 300;
  font-family: $font;
}

@mixin linkblue {
  text-decoration: none;
  color: $blue;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1em;
  font-family: $font;
}
